.page-header
  = link_to events_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_event_path(@event), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show event

%dl.dl-horizontal
  %dt Name:
  %dd= @event.name
  %dt Start date:
  %dd= @event.start_date
  %dt Description:
  %dd= @event.description
  %dt Invite starts:
  %dd= @event.invite_starts
  %dt Invite ends:
  %dd= @event.invite_ends
  %dt Min participants:
  %dd= @event.min_participants
  %dt Max participants:
  %dd= @event.max_participants
  %dt Time limit:
  %dd= @event.time_limit
  %dt Take part:
  %dd= @event.take_part
  %dt Show list:
  %dd= @event.show_list
